<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__CSS_PATH__pintuer.css">
    <link rel="stylesheet" href="__CSS_PATH__admin.css">
    <script src="__JS_PATH__jquery.js"></script>
    <script src="__JS_PATH__pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong><span class="icon-pencil-square-o"></span> 网站信息</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="index.php?m=admin&c=index&a=info">
      <div class="form-group">
        <div class="label">
          <label>网站标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_NAME" value="<?= WEB_NAME?>" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站域名：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_URL" value="<?=WEB_URL?>" />
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站关键字：</label>
        </div>
        <div class="field">
          <textarea class="input" name="WEB_CONTENT"><?=WEB_CONTENT?></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>网站描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="WEB_TITLE"><?=WEB_TITLE?></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>联系人：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_USER" value="<?=WEB_USER?>" />
          <div class="tips"></div>
        </div>
      </div>
       <div class="form-group">
        <div class="label">
          <label>生日：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_BRITHDAY" value="<?=WEB_BRITHDAY?>" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>手机：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_PHONE" value="<?=WEB_PHONE?>" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>喜欢的书：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_BOOK" value="<?=WEB_BOOK?>" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>QQ：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_QQ" value="<?=WEB_QQ?>" />
          <div class="tips"></div>
        </div>
      </div>     
      <div class="form-group">
        <div class="label">
          <label>Email：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_EMAIL" value="<?=WEB_EMAIL?>" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>地址：</label>
        </div>
        <div class="field">
          <input type="text" class="input" name="WEB_ADRESS" value="<?=WEB_ADRESS?>" />
          <div class="tips"></div>
        </div>
      </div>  
       <div class="form-group">
        <div class="label">
          <label>站点关闭：</label>
        </div>
        <div class="field">
           <input type="radio" name="WEB_CLOSE" value="true" <?php echo WEB_CLOSE=='true'?'checked':''; ?>/>开启
           <input type="radio" name="WEB_CLOSE" value="false" <?php echo WEB_CLOSE=='false'?'checked':''; ?>/>关闭

          <div class="tips"></div>
        </div>
      </div> 
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body></html>